<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/auth/login.css">
</head>
<body>
    <%- include("../includes/navigation.ejs") %>
    <main>
        <% if(errorMessage  && errorMessage.length > 0){ %>
            <div class="user-message user-message-error"><%= errorMessage %></div>
        <% } %>    
        <form class="login_form" action="/postNewPassword" method="post">
            <input type="hidden" name ="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name ="userId" value="<%=userId%>">
            <input type="hidden" name ="password_token" value="<%=password_token>">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit" class="btn">Updatepassword</button>
        </form>
    </main>
<%- include("../includes/end.ejs") %></body>